
<%= form_with(model: @manager, url: crew_member_create_path,
              method: :post, id: 'crew-manager-signup-form',
              local: true, class: 'w-80 w-md-50' ) do |f| %>

    <div class="d-flex flex-column crew-manager-col">

        <div class="form-header2 text-center">
          Crew Manager Signup Information
        </div>
        <div class="d-flex flex-column field mt-4">
          <%= f.label :name %>
          <%= f.text_field :name, class: 'required_signup_field',
          autofocus: true %>
        </div>

        <div class="d-flex flex-column field mt-2">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'required_signup_field' %>
        </div>

      <div class="d-flex flex-column field mt-2 w-50">
        <%= f.label :phone %>
        <%= f.text_field :phone, class: 'required_signup_field' %>
      </div>

        <div class="d-flex flex-column field mt-2">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'required_signup_field' %>
        </div>

        <div class="d-flex flex-column field mt-2">
          <div class="d-flex justify-content-between">
            <%= f.label :password_confirmation %>
            <span class="displayOff" id="pass-do-not-match-txt">
              *does not match password
            </span>
          </div>

          <%= f.password_field :password_confirmation, class: 'required_signup_field' %>
        </div>

    </div>
  <div class="dflexr-jcsb button-row">

    <%= link_to 'Cancel', root_path, class: 'btn-common btn-cancel' %>

    <%= f.button 'Submit Form', id: 'form-submit-button',
                 class: 'btn-common manager-form-submit', disabled: true,
                 data: { turbo_action: 'replace',
                         disable_with: 'Processing...' } %>
  </div>

<% end %>

