<div class="dflexc-jcs crew-manager-col">
  <%= f.fields_for :crew_member do |cm| %>
    <div class="form-header2">
      Crew Manager Information
    </div>
    <div class="dflexc-jcs field">
      <%= cm.label :name %>
      <%= cm.text_field :name, class: 'required_signup_field' %>
    </div>

    <div class="dflexc-jcs field">
      <%= cm.label :email %>
      <%= cm.text_field :email, class: 'required_signup_field' %>
    </div>

    <div class="dflexc-jcs field">
      <%= cm.label :password %>
      <%= cm.password_field :password, class: 'required_signup_field' %>
    </div>

    <div class="dflexc-jcs field">
      <%= cm.label :password_confirmation %>
      <%= cm.password_field :password_confirmation, class: 'required_signup_field' %>
    </div>

  <% end %>
</div>
