<%= form_with(model: @business, url: business_create_path,
              method: :post, id: 'business-registration-form',
              local: true, class: 'w-80 w-md-50' ) do |f| %>

  <div class="dflexc-jcs company-col">

    <div class="form-header2">
      Company Information
    </div>

    <div class="dflexc-jcs field">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'required-signup-field' %>
    </div>

    <div class="dflexc-jcs field">
      <%= f.label :phone, "Phone Number" %>
      <%= f.phone_field :phone, class: 'required-signup-field' %>
    </div>

    <div class="dflexc-jcs field">
      <%= f.label :address1, "Street Address" %>
      <%= f.text_field :address1, class: 'required-signup-field' %>
    </div>

    <div class="dflexc-jcs field">
      <%= f.label :address2, "Additional Address Info" %>
      <%= f.text_field :address2, placeholder: 'Suit/Apt#' %>
    </div>

    <div class="dflexr-jcsb city-state-zip-row">

      <div class="dflexc-jcs field input-city">
        <%= f.label :city %>
        <%= f.text_field :city, class: 'required-signup-field' %>
      </div>

      <div class="dflexc-jcs field input-state">
        <%= f.label :state %>
        <%= f.text_field :state, class: 'required-signup-field' %>
      </div>

      <div class="dflexc-jcs field input-zipcode">
        <%= f.label :zip_code %>
        <%= f.text_field :zipcode, class: 'required-signup-field' %>
      </div>

    </div>
  </div>
  <%= render 'shared/cancel_submit_btn_row', f: f %>

<% end %>
