<nav class="dflexr-jcsb top-nav">
  <div class="brand">
    CrewCoord
  </div>
  <div class="nav-center">
    <%= theDate %>
  </div>
  <div class="dflexc-jcc nav-actions">

    <div class="txt-company">Company</div>

    <div class="dflexr-jcc company-action-row">
      <%= link_to session_signup_url do %>
        <div class="signup">Sign Up</div>
      <% end %>
      <div class="company-login">Login</div>
    </div>

  </div>
  <div class="dflexc-jcc menu-action">
    <div class="open-navpanel">
      <a> <%# click action handled in javascript file home.js  %>
        <%= image_tag 'icon_open_nav_panel01.png' %>
      </a>
    </div>

  </div>


</nav>
<div class="dflexc-jcc nav-panel">
  <div class="dflexr-jce">
    <div class="close-navpanel">
      <a> <%# click action handled in javascript file home.js  %>
        <%= image_tag 'icon_close_nav_panel01.png' %>
      </a>
    </div>
  </div>

  <div class="dflexr-jcc theDate">
      <%= theDate %>
  </div>

  <div class="dflexc-jcc nav-actions">
      <%= link_to session_signup_url, data: {turbo_action: 'replace'}, class: 'nav-item' do %>
        <div class="company-signup">Company Sign Up</div>
      <% end %>
      <div class="manger-login nav-item">Crew Manager Login</div>
  </div>
</div>
