<!DOCTYPE html>
<html>
  <head>
    <title>CrewCoord</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="dflexr-jcsb top-nav">
      <div class="brand">
        CrewCoord
      </div>
      <div class="nav-center">
        Center Nav
      </div>
      <div class="nav-user-actions">
        User Action panel
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
